$speed: 200ms;
$ease: ease-in-out;

.promobar-placeholder {
  transition: height $speed $ease; 
}
.promobar {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f5f5f5;
  overflow: hidden;
  transition: transform $speed $ease;
  transform: translateY(-100%);

  &.is-active {
    transform: translateY(0);
  }
}
.promobar__inner {
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}
.promobar__content {
  display: inline-block;
  position: relative;
  max-width: 750px;
  margin: 0 40px 0 0;
  padding-top: 1em;
  padding-bottom: 1em;

  @media (min-width: 48em){ // 800px
    text-align: center;
    margin: 0 auto;
  }
}
.promobar__close {
  position: absolute;
  top: 0; bottom: 0; right: 1.5em;
  margin: 0 auto;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  z-index: 100;

  &::before,
  &::after {
    content:'';
    display: block;
    position: absolute;
    bottom: 0; left: 0; top: 0; right: 0;
    height: 1px;
    margin: auto;
    background-color: currentColor;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
